@media screen and (max-width: 452px){
    body {
        padding: 30px 25px 0;
    }
    .main-wrap {
        width: 330px;
        select {
            width: 260px;
        }
        .number {
            width: 260px;
        }
        button {
            width: 60px;
            height: 40px;
        }
        .answer {
            width: 260px;
        }
    }
}